repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
  - id: mypy
    additional_dependencies:
    - click
    - dsss
    - GitPython
    - keyring
    - lxml-stubs
    - pandas-stubs
    - platformdirs
    - prompt-toolkit
    - pytest
    - responses
    - sdmx1
    - Sphinx
    - types-docutils
    - types-openpyxl
    - types-requests
    - types-tqdm
    args: []
    pass_filenames: false
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.1
  hooks:
  - id: ruff-check
  - id: ruff-format
    args: [ --check ]
