[build-system]
requires = ["build", "setuptools-scm"]

[project]
dynamic = ["version"]
name = "transport-data"
dependencies = [
    "click",
    "packaging",
    "pandas",
    "requests",
    "sdmx1 >= 2.9",
    "xdg-base-dirs",
]

[project.optional-dependencies]
tests = [
    "pytest",
    "pytest-cov",
    "pytest-xdist",
]

[project.scripts]
tdc = "transport_data.cli:main"

[tool.setuptools_scm]
