[build-system]
requires = ["build", "setuptools-scm"]

[project]
dynamic = ["version"]
name = "transport-data"
dependencies = [
    "click",
    "sdmx1",
    "xdg-base-dirs",
]

[project.scripts]
tdc = "transport_data.cli:main"

[tool.setuptools_scm]
