[build-system]
requires = ["build", "setuptools-scm"]

[project]
dynamic = ["version"]
name = "transport-data"
description = "Tools for the Transport Data Commons"
authors = [
  {name = "Transport Data Commons Initiative (TDCI)"}
]
maintainers = [
  {name = "Paul Natsuo Kishimoto", email = "mail@paul.kishimoto.name"}
]
classifiers = [
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.11",
]
readme = "README.rst"

dependencies = [
    "click",
    "packaging",
    "pandas",
    "pooch",
    "requests",
    "sdmx1 >= 2.9",
    "xdg-base-dirs",
]

[project.optional-dependencies]
tests = [
    "pytest",
    "pytest-cov",
    "pytest-xdist",
]

[project.urls]
homepage = "https://transport-data.org"
repository = "https://github.com/transport-data/tools"

[project.scripts]
tdc = "transport_data.cli:main"

[tool.pytest.ini_options]
addopts = """--cov=transport_data"""

[tool.setuptools_scm]
